[run]
include =
    */irc3/*.py
    */irc3/*/*.py
omit =
    */tests*
    */docs/conf.py
    */examples/social*
    */examples/mycrons*
    */examples/mycommands*
    */examples/myextends*
    */examples/nickserv*
    */examples/freenode*
    */irc3/template/plugin*
    */irc3/_gen_doc*
    */irc3/_parse_rfc*
    */site-packages*
    */lib/python*
    */lib-python*
    */lib_pypy*
    */src*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    def parse_args
