[run]
include =
    */irc3/*
omit =
    */tests*
    */docs/conf.py
    */panoramisk.py
    */examples/social*
    */examples/mycommands*
    */examples/myextends*
    */examples/nickserv*
    */examples/freenode*
    */site-packages*
    */lib/python*
    */lib-python*
    */lib_pypy*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    def parse_args
