graft docs
prune docs/_build
prune .github/
graft examples
graft irc3
graft irc3d
graft tests
include Makefile *.rst *.cfg *.ini *.txt
global-exclude *.pyc *.swp
global-exclude __pycache__
include conftest.py
exclude bootstrap.py
exclude .installed.cfg
exclude .coveragerc
exclude update.sh
exclude Dockerfile
exclude docker
exclude docker/Dockerfile
exclude docker/Makefile
include LICENSE
